html, body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
}

main {
  margin: 2rem;
}

/* Progress Bar styles */

.progress {
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: green;
  height: 14px;
  position: relative;
  margin-bottom: 2rem;
}

.progress-arrow {
  position: absolute;
  right: 0; width: 0; height: 0px;
  border-top: 7px solid white;
  border-bottom: 7px solid white;
  border-left: 12px solid green;
}
